body{
font-size : 10pt; 
font-family : Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif;
padding: 0;
margin: 0;
}

div#pagina{
width: 984px;
margin: 5px auto 5px auto;
}

div{
border: 0px;
padding: 0;
height: auto;
margin: 0;
}

div#top{
width: 979px;
height: 80px;
background-repeat: no-repeat;
padding: 0px 5px 0 0px;
}


div#titulo{
float: right;
background-repeat: no-repeat;
width: 280px;
height: 80px;
}

div#titulo2{
float: right;
background-repeat: no-repeat;
width: 280px;
height: 80px;
}

div#idiomas{
float : right;
margin-top: 5px;
}

div#idiomas img{
width: 34px;
height: 22px;
border: 0;
}

div#fecha{
float : right;
font-weight: normal;
font-size: 8pt;
margin: 4px 2px 0 0;
}

form#cambia_tema{
margin-top: 20px;
}

form#cambia_tema select{
border: #000 1px solid;
width: 150px;
}

form#cambia_tema input{
margin-top: 5px;
margin-left: 38px;
border: #000 1px solid;
width: 75px;
}

div#herramientas{
padding: 5px;
width: 974px;
height: 25px;
margin: 1px 0 0 0;
}

span.superindice{
vertical-align : super;
font-size: 7pt;
}

div#menu-total{
float: left;
width: 160px;
margin: 0px 1px 0px 0px;
}

div#menu{

width: 159px;
padding: 20px 5px 20px 5px;
margin: 1px 0 1px 0;
}

div.menu-item, div.menu-item-sel{
width: 137px;
padding: 0 5px 0 5px;
/*border-left: solid 3px;
border-bottom: solid 1px;*/
margin: 5px 0 0 0;
}

div.menu-item-sel{
border-right: solid 1px;
border-top: solid 1px;
background-color: #000;
}

div.menu-item a{
text-decoration: none;
}

div.menu-item-sel{
border-left: solid 3px;
border-bottom: solid 1px;
}

div.menu-item-sel a{
text-decoration: none;
}

div#menu2{

width: 157px;
padding: 20px 5px 20px 5px;
margin: 1px 0 1px 0;
font-weight: normal;
font-size: 7pt;
text-align: center;
color: #0066CC;
font-family : Verdana;
border-color: #0066CC;
border: solid 1px;
}


div.herramientas-item, div.herramientas-item-sel{
float: left;
width: auto;

padding: 0 5px 0 5px;
border-left: solid 3px;
border-bottom: solid 1px;
margin: 5px 10px 0 0;
}

div.herramientas-item-sel {
border-left: solid 3px;
border-bottom: solid 1px;
}

div.herramientas-item-sel a{
text-decoration: none;
}

div.herramientas-item a{
text-decoration: none;
}


div#contenido-total{
float: right;
width: 813px;
padding: 0px;
margin: 1px 0 1px 0;
}

div#contenido{
text-align: justify;
width: 804px;
margin: 5px;
font-size: 8pt;
}

div#contenido a{
text-decoration: underline;
}

div#contenido p:first-letter{
font-size: 12pt;
}

div#titulo-contenido{
font-size : 9pt;
font-weight: normal;
width: 808px;
height: 23px;
border-style: solid;
border-width: 0 0 1px 0;
padding: 5px 0 5px 5px;
margin: 0 0 5px 0;
}

div.floatleft{
float: left;
}

div.firstletter:first-letter{
font-size : 9pt;
font-weight: bold;
font-family : Tahoma;
}

div.firstletter{
float: left;
}

div#contenido img{
/*border: 1px solid;*/
/*height: 100px;*/
}

div#contenido img.right{
float : right;
margin: 5px 0 5px 5px;
}

div#contenido img.left{
float : left;
margin: 5px 5px 5px 0;
}

/* Se utiliza en inicio/index.php 
                 contacto/index.php */
div#contenido table.right{
float : right;
margin: 5px 0 5px 5px;
}

/* Se utiliza en inicio/index.php */
div#contenido table.left{
float : left;
margin: 0px 0 0px 0px;
/* bgcolor="#FFFFFF" border="0" width="100% en inicio/index.php */
}

/* Se utiliza en inicio/index.php */
div#contenido table.fondo{
float : left;
margin: 0px 0 0px 0px;
background-image: url(../img/media2.jpg);
/*  width="100%" border="0" en inicio/index.php */
}

/* Se utiliza en inicio/index.php 
		 core/biblioteca.inc.php 
		 investigacion/index.php */
div#contenido table.fondo2{
float : left;
margin: 0px 0 0px 0px;
background-image: url(../img/media.jpg);
width: 100%;
border: 0;

}


div#estado{
padding: 5px;
clear: both;
width: "100%";//974px;
height: 23px;
}

div#validar{
float: right;
}
div#validar a{
text-decoration: none;
}

div#estado img{
height : 23px;
width: 66px;
border: 0;
}

/*Estilo celda para para las tabla de docencia, el encabezado, PRIMER CICLO ...*/
td.encabezado {
text-align: center;
background-color: #DCC891;
}

/* Estilo de fuente para celdas de la tabla de docencia */
font.fuenteblanco {
color: #FFFFFF;
font-size: 10pt;
font-family: Arial;
}

font.fuenteblancogrande {
color: #FFFFFF;
font-size: 13pt;
font-family: Arial;
}


/*Estilo para el titulo de ciclos en inicio docencia */
font.fuentegris {
color: #000000;
font-size: 10pt;
font-family: Arial;
}

/*Estilo para tabla de cada carrera: informacion,alumnos ... */
table.tablaasig{
width: 100%;
border: 0pt;
text-align: left;
background-color: #F8F3E4;
}

/*Estilo para los enlaces del doctorado y master */
font.fuenteazul {
color: #0066CC;
font-size: 10pt;
font-family: Arial;
}

/* Estilo para las tablas */
table.tabla {
width: 100%;
border: 0;
}

/*Estilo para las caracteristicas generales de las carreras */
font.fuentenegra {
font-size: 10pt;
font-family: Arial;
}

font.fuenteazuloscuro {
font-size: 10pt;
font-family: Arial;
color: #486E91;
}


/*Estilo para los creditos de las caracteristicas generales de las carreras. */
font.fuenteazultahoma {
color: #0066CC;
font-size: 10pt; 
font-family:Tahoma;
}

/*Estilo para las tablas de carreras.php */
table.tablacarr {
margin-left:auto;
margin-right:auto;
width: 80%;
border: 0;
}


font.fuenteroja {
font-size: 10pt; 
font-family: Arial; 
color: #CC6900;
}

font.fuenterojaoscura {
font-size: 10pt; 
font-family: Arial; 
color: #CC0033;
}

td.celdagris {
background-color:#B9AFA5;
text-align: center;
}

td.celdagrisizquierda {
background-color:#B9AFA5;
text-align: left;
}

td.celdaamarilla {
background-color:#DCC891;
text-align: center;
}

tr.filaazul {
background-color:#0066CC;
}

td.celdablancaIzq {
background-color:#FFFFFF;
text-align: left;
}

td.celdablancaCen {
background-color:#FFFFFF;
text-align: center;
}

td.celdaverde {
background-color: #F8F3E4;
}

td.celdaazul {
background-color: #0066CC;
}

table.tablacentrada {
border: 0;
margin-right:auto;
margin-left:auto;
}

table.tablacentradatodo {
border: 0;
margin-right:auto;
margin-left:auto;
width:100%;
}

table.tablaborde {
width:90%; 
margin-right:auto;
margin-left:auto;
border-color:#DCC891;
border-style: solid;
}

