body{
color: #000;
background-color: #fff;
}

div#estado a{
color: #069;
}

td.celdagrey {
background-color:#B9AFA5;
text-align: left;
}


div#top{
background-color: #b9afa5;
background-image: url(../img/uah_logo_transp2.gif);
top left;

}


div#titulo{
background-image: url(../img/logo.jpg);
top left;
background-image: url(../img/depeca_logo_transp2.gif);
top right;}



div#menu{
background-color:#b9afa5 ;
}

div#menu2{
/*background-color: #DCC891;*/
background-image: url(../img/media.jpg);
}

div#herramientas{
background-color: #b9afa5;
}

div#estado{
background-color: #b9afa5;
text-align: center;
}

div#menu{

color: #fff;
}

div.menu-item, div.menu-item-sel{
border-color: #fff;
}

div.menu-item a{
color: #fff;
}

div.menu-item a:hover{
color: #333;
}

div.menu-item-sel{
border-color: #dcc891;
}

div.menu-item-sel a{
color: #dcc891;
}

div.herramientas-item, div.herramientas-item-sel{
color: #fff;
border-color: #fff;
}

div.herramientas-item-sel {
border-color: #069;
color: #069;
}

div.herramientas-item-sel a{
color: #069;
}

div.herramientas-item a{
color: #fff;
}

div.herramientas-item a:hover{
color: #069;
}

div#contenido-total{
//background: #FFF;

}

div#contenido a{ 100%
margin: 0;
color: #06C;
}

div#titulo-contenido{
/*color: #fff;*/
/*background-color: #00CED1;*/
/*border-color: #fff;*/
}

div.firstletter{
float: left;
font-family: "times";
font-size: 40px;

}

div.fletter{
float: center;
font-family: "times";
font-size: 40px;
text-align: center;

}

div#contenido img{
border-color: #000;
}
span.importante{
color: #D00;
}

div.principal{
float: left;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: "times";
font-size: 20px;
background-color: #FFFFFF ;
}

div.enlaces{
font-size: 20px;
background-color: #E6E8FA;
float: left;
width: 30%;
height: 100%;
margin: 0;
padding: 0;
font-family: "times";
}


